<div class="file-explorer">
  <div class="content-wrapper">
    <div class="header">
      <button class="button" (click)="returnFolder()"><</button>
    </div>
    <div class="list-wrapper">
      <div class="list" *ngFor="let modules of modules">
        <div class="list-item" (click)="openFolder(modules)">
          <div class="list-item-inside">
            <img class="image" src="{{modules.url}}">
            {{ modules.title }}
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

